<nav class="navbar bg-body-tertiary custom-nav">
  <div class="limit-width container-fluid">
    <div class="navbar-brand custom-nav-brand nav-logo">
      <img
        src="assets/blood-donation.png"
        alt="logo donation blood"
        height="50"
      />
      {{ title_header }}
    </div>
    <div class="navbar-text">
      <app-theme></app-theme>

      <a
        href="https://github.com/glh-henrique/blood-type-donator-checker"
        target="_blank"
        class="git-icon"
      >
        <i class="bi bi-github"></i>
      </a>
    </div>
  </div>
</nav>
